body{
  background-color: #2D2D2D;
}
#particle_container{
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  display: block;
  background-color: #4CC2FF40;
  border: 1px solid #4CC2FF;
}

#particle_container > div{
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  display: block;
  width: 3px;
  height: 3px;
  border: 1px solid white;
  box-sizing: border-box;
}